body {
  width: 100%;
}

.header-section-container {
    max-width: 1430px;
    margin: 0 auto;
}

.showcase {
  background: url(./img/main-background.jpg) no-repeat center center/cover;
  background-position: 0 92%;
}

header {
  height: 600px;
}

header .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .nav-bar-ul {
  display: flex;
  width: auto;
  margin-top: 90px;
}

header .nav-bar-ul li {
  list-style: none;
}

header .nav-bar-ul button {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  width: 105px;
  height: 30px;
  background: linear-gradient(180deg, rgb(75, 73, 73) 50%, rgba(133, 133, 133, 1)82%);
  cursor: pointer;
  border: transparent;
  border-left: 1px solid gray;
}

header .nav-bar-ul button:hover {
  background: rgb(41, 40, 40);
}

.apple-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

header .nav-bar-ul form {
  position: relative;
}

header .nav-bar-ul form i {
  color: black;
  position: absolute;
  top: 7px;
  left: 7px;
}

.showcase-content {
  color: #fff;
}
.showcase-content h1 {
  font-size: 50px;
  margin-top: 100px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

.showcase-content p {
  margin-top: 20px;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 30px;
}

.showcase-content a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: 35px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

.showcase-content a:hover {
  text-decoration: underline;
}

.sub-images {
  display: flex;
}

.sub-images img {
  width: 25%;
}
 
.main-footer {
  font-size: 12px;

}

.top-footer-container {
  display: flex;
  justify-content: space-between;
}

.right-side-footer-container {
  display: flex;
  justify-content: space-between;
}

.right-side-footer-container a {
  border-right: 1px solid gray;
  padding: 0 10px;
 }

 a.no-border {
   border-right: #fff;
 }

 .footer-copyright {
   margin-top: 10px;
 }