body {
  width: 100%;
}

/* Links */

body a {
  text-decoration: none;
}

header .nav-bar-ul li a{
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
}

.main-footer a {
  color: #08c;
}

.right-side-footer-container a {
  border-right: 1px solid gray;
  padding: 0 10px;
}

a.no-border {
  border-right: #fff;
}

.showcase-content a {
  color: white;
  font-size: 25px;
  margin-top: 35px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.showcase-content a:hover {
  text-decoration: underline;
}

header .nav-bar-ul li a:hover {
  text-decoration: none;
}

/* Showcase (header) Section */

.header-section-container {
  max-width: 1430px;
  margin: 0 auto;
}

.showcase {
  background: url(./img/main-background.jpg) no-repeat center center/cover;
  background-position: 0 92%;
}

header {
  height: 600px;
}

header .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .nav-bar-ul {
  display: flex;
  width: auto;
  margin-top: 90px;
}

header .nav-bar-ul li {
  width: 105px;
  height: auto;
  padding: 8px;
  background: linear-gradient(180deg, rgb(75, 73, 73) 50%, rgba(133, 133, 133, 1)82%);
  cursor: pointer;
  border: transparent;
  border-left: 1px solid gray;
  text-align: center;
}

header .nav-bar-ul li:hover {
  background: rgb(41, 40, 40);
}

header .apple-link {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

header .apple-link i {
    font-size: 18px;
}

.header-search-form {
  position: relative;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-search-form input {
  width: 70px;
  border-radius: 10px;
  border: 1px solid gray;
  position: abslute;
  top: 5px;
  left: 15px;
  background: transparent;
}

header .nav-bar-ul form i {
  color: #fff;
  position: absolute;
  top: 11px;
  left: 20px;
}

.showcase-content {
  color: #fff;
}

.showcase-content h1 {
  font-size: 50px;
  margin-top: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.showcase-content p {
  margin-top: 20px;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  text-align: center;
  line-height: 30px;
}

/* Products Section */

.sub-images {
  display: flex;
}

.sub-images img {
  width: 25%;
}
 
/* Footer Section */

.main-footer {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  max-width: 1100px;
  margin: 30px auto 0 auto;
}

.top-footer-container {
  display: flex;
  justify-content: space-between;
}

.right-side-footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  margin-top: 18px;
}

.terms-of-use-line {
  border-right: 1px solid gray;
  padding: 0 3px;
  margin-right: 3px;
}
